{% if sheets_count > 0 %}
    <div id="cabinetry-project-cut-sheet-wrapper" class="cabinetry-project-data">
        <h3 class="cabinetry-project-cut-header">{{ 'Cut Sheets:'|trans }}</h3>
        <div class="cabinetry-project-cut-value">{{ sheets_output }}</div>
    </div>
{% endif %}
